.grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
    /*background-color: rgb(236, 212, 160);*/
}

.player-one {
    background-color: rgb(216, 79, 79);
    border-radius: 10px;
}

.player-two {
    background-color: rgba(59, 59, 230, 0.671);
    border-radius: 10px;
}